<% if (site.tags.length){ %>
  <div class="widget-wrap">
    <h3 class="widget-title"><%= __('tags') %></h3>
    <div class="widget">
      <%- list_tags() %>
    </div>
  </div>
<% } %>
<% if (is_post()){ %>
  <div class="widget-wrap">
    <div class="widget">
    <%- toc(page.content, {list_number: false}) %>
    </div>
  </div>
<% } %>
